@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src: local("☺"), url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.icon:before {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.facebook:before {
  content: 'e900';
}
.icon.vk:before {
  content: 'e90b';
}
.icon.insta:before {
  content: 'e90d';
}
.icon.twit:before {
  content: 'e906';
}
.icon.yb:before {
  content: 'e909';
}
.icon.ok:before {
  content: 'e90a';
}
