.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding-top: 90px;
  width: 100%;
}
@media (max-width: 480px) {
  .banner h1 {
    font-size: 44px;
  }
}
.banner h1 span {
  display: block;
  text-transform: none;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}
@media (max-width: 480px) {
  .banner h1 span {
    line-height: 30px;
    font-size: 26px;
    margin-top: 20px;
  }
}
.banner_search {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 35px;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .banner_search {
    padding: 23px 16px;
    max-width: 90%;
  }
}
.banner_block {
  flex: 1;
  padding: 0 10px;
}
.banner_block input {
  width: 100%;
}
@media (max-width: 1020px) {
  .banner_block {
    flex: 50%;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .banner_block {
    flex: 100%;
    max-width: 100%;
  }
  .banner_block.dateb {
    max-width: 50%;
  }
}
.bradcrumb {
  order: 2;
  border-left: 1px solid #000;
  display: flex;
}
.bradcrumb p {
  margin: auto;
}
